body.home {
    background-image: url('../../assets/images/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: repeat;
}


a.home-button {
    display: flex;
    background-color: var(--color-primary-text);
    color: var(--color-primary-background);
    border-radius: 100%;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    animation: floatAnimation 3s ease-in-out infinite;
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;
}

div.home.text {
    max-width: 50%;
    justify-content: center;
}

div.home p {
    max-width: 85%;
}

main.home.container {
    width: 80%;
    margin: 18rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
}

div.home.container-circle {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

div.circle-animate {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    background-color: rgba(169, 203, 228, 0.5);
    position: relative;
    top: -0.5rem;
    z-index: 1;
    animation: floatAnimation 5s ease-in-out infinite;
}

a.home-button:hover~div.circle-animate {
    animation: expand-circle 3s ease-in-out infinite;
    opacity: 0.5;
}

@keyframes expand-circle {
    0% {
        transform: scale(1);
        opacity: .2;
    }

    50% {
        transform: scale(2);
        opacity: .5;
    }

    100% {
        transform: scale(1);
        opacity: .2;
    }
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}