a.home-button {
    display: inline-block;
    background-color: var(--color-primary-text);
    color: var(--color-primary-background);
    border-radius: 100%;
    width: 20rem;
    height:20rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 20rem;
    animation: floatAnimation 3s ease-in-out infinite;
    position: absolute;
    z-index: 2;
}

div.home.text {
    max-width: 43rem;
    justify-content: center;
}

main.home.container {
    margin-top: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40rem;
}

div.home.container-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

div.home.container-circle div.circle-animate {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    background-color: rgba(125, 167, 196, 0.2);
    position: relative;
    top: -0.5rem;
    z-index: 1;
    animation: floatAnimation 5s ease-in-out infinite;
}

a.home-button:hover ~ div.circle-animate{
    animation: expand-circle 3s ease-in-out infinite;
}

@keyframes expand-circle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}


