:root {
  font-size: 62.5%;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background-color: var(--color-primary);

  --color-primary: #0B0D17;
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #D0D6F9;

}

@font-face {
  font-family: 'Bellefair';
  src: url('assets/fonts/bellefair.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('assets/fonts/barlow-condensed.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  overflow-x: hidden;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  
}
h1 {
  font-family: 'Bellefair';
  font-size: clamp(10rem, 15vw, 15rem);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary-text);
}

h2 {
  font-family: 'Bellefair';
  font-size: clamp(5.6rem, 10vw, 10rem);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary-text);
}

h3 {
  font-family: 'Bellefair';
  font-size: 5.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary-text);
}

h4 {
  font-family: 'Bellefair';
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary-text);
}

h5 {
  font-family: 'Barlow';
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.475rem;
  text-transform: uppercase;
  color: var(--color-secondary-text);
}

.sub-h1 {
  font-family: 'Bellefair';
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary-text);
}

.sub-h2 {
  font-family: 'Barlow';
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.235rem;
  text-transform: uppercase;
  color: var(--color-secondary-text);
}

.nav-text {
  font-family: 'Barlow';
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  color: var(--color-primary-text);
  text-transform: uppercase;
}

.body-text {
  font-family: 'Barlow';
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-secondary-text);
}