/* Nav Styles */
.nav.logo {
    padding: 0rem 4rem;
    transform: scale(0.8);
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 2rem;
}

.container-nav hr {
    position: relative;
    left: 2rem;
    width: 40%;
    height: 1px;
    background-color: var(--color-primary-text);
    opacity: 0.2;
    z-index: 10;
}

.contlist-nav {
    padding: 2rem 2rem;
    background-color: rgba(149, 202, 223, 0.05);
    backdrop-filter: blur(15px);
    width: 55%;
    margin: auto;
}

.contlist-nav li {
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding: 0 1.5rem;
}

.contlist-nav li a {
    text-decoration: none;
    font-weight: 400;
    color: var(--color-primary-text);
}

.contlist-nav li a:hover {
    color: var(--color-secondary-text);
}

.contlist-nav li a span {
    font-weight: 800;
}